@tailwind base;
@tailwind components;

.ql-container.ql-snow {
  height: 200px;
}

@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    block-size: 100%;
  }
  body {
    @apply bg-fill;
  }
}

::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #dad9d9fe;
  transition: 0.5s;
  border-radius: 7px;
  max-height: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a6a6a6;
}
