@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
      @apply bg-fill;
    }
  }

::-webkit-scrollbar{
    width: 5px;
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: #dad9d9fe;
    transition: 0.5s;
    border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover{
    background: #a6a6a6;
}